<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href='{%static "css/blog.css" %}'>
    <title>NIRE Django BLOG</title>
</head>
<body>
    <center><h1>Post bat gehitzeko ondorengo formularioa bate:</h1></center>
    <br>

    <form action="/addpost" method="post">
        Post-aren izenbrua: <input type="text" name="izenburua">
        Post-aren edukia: <input type="text" value="edukia">
        <button type = submit>Post-a sortu</button>
    </form>
    
</body>
</html>
