{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{%static "css/blog.css" %}'>
    <title>NIRE Django BLOG</title>
</head>

<body>
    <center>
        <h1>Kaixo django blog</h1>
    </center>
    <br>

    <table align ="center" border="1">
        {% for author in autoreak %}
        <tr>
            <td>

                <div>
                    <h2>{{author.id}}</h2>
                    <p>
                    <h2>{{author.izenAbizenak}}</h2>
                    </p>
                    <p>{{author.jaiotzaData}}</p>
                </p>
                <p>{{post.gmail}}</p>
            </p>
                </div>


            </td>
            <td>
                <a href="ezabatuAutorea/{{author.id}}" color="red">Ezabatu</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="addAuthor/">Gehitu autorea</a>
</body>

</html>