{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{%static "css/blog.css" %}'>
    <title>NIRE Django BLOG</title>
</head>

<body>
    <center>
        <h1>Kaixo django blog</h1>
    </center>
    <br>

    <table align ="center" border="1">
        {% for post in posta %}
        <tr>
            <td>

                <div>
                    <h2>{{post.id}}</h2>
                    <p>
                    <h2>{{post.jokoIzena}}</h2>
                    </p>
                    <p>{{post.deskripzioa}}</p>
                </p>
                <p>{{post.prezioa}}</p>
            </p>
            <p>{{post.author}}</p>

                </div>


            </td>
            <td>
                <a href="ezabatu/{{post.id}}" color="red">Ezabatu</a>
            </td>
            <td>
                <a href="aldatu/{{post.id}}" color="red">Aldatu</a>
            </td>
        </tr>
        {% endfor %}
    </table>



    <a href="add/">Gehitu posta</a>
    <!-- <a href="add/">Gehitu autoreak</a>!-->

</body>

</html>